<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Tervetuloa {{ title }}!
  </h1>
</div> -->

<div>
  <mat-toolbar color="primary">
    <span class="main-title">Eat this. Not That.</span>
  </mat-toolbar>

<!--HUOMIOI TÄSSÄ role="" koodit, mitkä liittyy esteettömyyteen!!! -->
  <mat-sidenav-container>
    <mat-sidenav role="navigation" mode="side" opened> Sidenav content</mat-sidenav>
    <mat-sidenav-content role="search-tool" >Main content</mat-sidenav-content>
  </mat-sidenav-container>

</div>
