// Tähän tiedostoon olen koonnut omia värejä, joita haluan käyttää projektissani.

// Side navigation
$sidenav-title-bg: #FAFAFA;
$side-nav-title: #BDBDBD;
$side-nav-title-border: #EEEEEE;
$side-nav-border: #E0E0E0;

// Top toolbar
$toolbar-title: #212121;
