@import 'src/fonts.scss';

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

// TOOLBAR
.main-title {
  color: $toolbar-title;
  font-size: 24px;
  font-family: 'Assistant', sans-serif;
  margin-left: 50%;
}

// CONTENT
mat-sidenav-container {
  background-image: url("img/bg.jpg");
  background-size: auto;
  margin: 0 10px 0 8px;
  padding-top: 10px;
  position: absolute;
  top: 73px;
  bottom: 0;
  left: 0;
  right: 0;

  .main-content {
    cursor:default;
    padding-top: 50px;
    padding-left: 10px;
    height: auto;
    margin-left: 50px;

    p {
      cursor:default;
      width: 60%;
     line-height: 1.4;
      font-size: 14px;
      font-weight: 200;
      font-family: 'Source Sans Pro', sans-serif;
    }

    .main-content-title {
      font-size: 24px;
      font-weight: 500;
      font-family: 'Source Sans Pro', sans-serif;
    }
  }
  .example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
  }

  .mat-table {
    box-shadow: 5px 5px 40px 5px rgba(46,45,46,0.24);
    max-width: 70%;
    overflow: auto;
    max-height: 500px;

  }

  .sidenav {
    border-right:1px solid $side-nav-border;
    background-color: $sidenav-title-bg;
    width: 205px;
    height: auto;
    padding: 10px;
    overflow: auto;

    .sidenav-title {
      border-bottom: 0.5px solid $side-nav-border;
      height: 25%;
      font-family: 'Source Sans Pro', sans-serif;
      padding: 5px 20px 5px 10px;
    }

    .sidenav-title-second {
      height: 50%;
      font-family: 'Source Sans Pro', sans-serif;
      padding: 20px 20px 5px 10px;
      border-top: 0.5px solid $side-nav-title-border;
    }

    .sidenav-title:focus,
    .sidenav-title-second:focus  {
      padding: 5px;
      border: 2px solid black;
    }
  }
}

form {
  margin-bottom:20px;
}

.autocomplete {
  display: flex;
  flex-direction: column;
  width: 50%;
}

input {
  border: 1px solid #8BC34A;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 18px;
}

input:focus {
  border: 1.5px solid #8BC34A;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}

input[type=submit]:hover,
input[type=submit]:focus {
  border: 1px solid #33691E;
  background-color: #AED581;
  color: #212121;
  font-weight: bold;
}

mat-sidenav-container {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;

}
